/* You can add global styles to this file, and also import other style files */

/*  ANGULAR MATERIAL THEMES
*   deeppurple-amber.css
*   indigo-pink.css
*   pink-bluegrey.css
*   purple-green.css
*/
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,body{
    width: 100%;
    height:100%;
}
